body {
  font-family: sans-serif;
  margin: 0px;
}
header {
  position: fixed;
  width: 2000px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding: 0px 500px;
  border: 1px solid lightgray;
  background-color: white;
}
#navbar ul {
  list-style: none;
  text-align: center;
}
#navbar ul li {
  display: inline-block;
}
#navbar ul li a {
  text-decoration: none;
  padding: 10px 10px;
  font-weight: 700;
  font-size: 14px;
  color: rgb(65, 58, 58);
}
#navbar ul li a:hover {
  color: #13aa52;
  text-decoration: underline;
}
#content {
  margin: 20px;
  text-align: justify;
}
#content h3 {
  cursor: pointer;
}
#content p {
  text-indent: 50px;
  list-style-type: circle;
}
