body {
    margin: 0;
    font-family: ubuntu;
}
.main-page__logo {
    background-color: white;
    border-bottom: 2px solid lightgray;
    box-shadow: 1px 2px blue;
    position: relative;
}
.main-page__logo ul {
    margin: 0;
    display: inline-block;
    list-style: none;

}
.main-page__logo ul  li {
	width:100px;
	float:left;
    margin-left: 12px;    
}
.submenu {
    text-decoration: none;
    display:block;
	padding: 0 20px;
    background-color:#fff;
    color: black; 
    margin: 10px;
}
.submenu:hover{
    color: #13aa52;
}
#left-menu {
   margin: 0;
  
}
.menu-items {
    border-right: 2px solid red;
}
.menu-items ul{
    list-style: none;
    line-height:2.5;
}
.item {
    text-decoration: none;
    color: black;    
    padding:5px;
    border: 1px solid lightgray;
  
}
.items {
    border-right: 2px solid red;
}