* {
  font-family: verdana;
}
body {
  margin: 0;
}
#main-logo {
  border-bottom: 2px solid rgb(2, 2, 56);
}
.container-fluid {
  margin: 0 auto;
}
.col-sm-2 {
  text-align: center;
}
.col-sm-2 h4 {
  margin-top: 12px;
  margin-bottom: 15px;
  color: #13aa52;
  padding: 5px 25px;
  font-weight: bold;
  font-size: 22px;
}
.main-page-menu {
  list-style: none;
  position: relative;
}

.main-page-menu li {
  padding: 15px 25px;
  display: inline-block;
}

.submenu {
  text-decoration: none;
  background-color: #fff;
  color: rgb(56, 53, 53);
  font-weight: bold;
  font-size: 16px;
}
.submenu:hover {
  color: #13aa52;
  text-decoration: none;
  font-weight: bold;
}
.container-fluid {
  padding-right: 0px;
  padding-left: 0px;
}
.scrollbar {
  overflow-y: scroll;
}

#sidemenu ul {
  list-style: none;
  color: black;
  padding-left: 2px;
  cursor: pointer;
}
#sidemenu ul li {
  border-bottom: 1px solid lightgray;
  padding: 3px;
}

.item {
  color: black;
  line-height: 2;
  font-size: 18px;
}

.item:hover {
  text-decoration: none;
  color: #13aa52;
}

.dropdown li a {
  display: block;
  text-decoration: none;
  padding: 5px;
  margin: 5px;
  color: black;
  text-align: center;
}
.dropdown li a:hover {
  border: 1px solid lightgray;
  background-color: lightgray;
  color: blue;
  padding: 2px 20px;
  display: block;
  overflow: hidden;
}
.scrollbar li ul.dropdown {
  min-width: 88%;
  background: #f2f2f2;
  display: none;
  position: absolute;
  z-index: 999;
  left: 0;
}
.scrollbar li:hover ul.dropdown {
  display: block;
}
#content p {
  text-indent: 50px;
  text-align: justify;
}
/* .menu-toggle {
  /* display: block;
  width:40px;
  height:40px;
  margin:10px;
  background-color:black;
  cursor: pointer;
  text-align: center;font-size:20px;
  color: black;
} */ */

@media screen and (max-width: 1000px) {
  * {
    background-color: pink;
  }
  .main-page-menu li {
    padding: 15px 15px;
  }
  .item {
    font-size: 13.5px;
  }
  
  
}
@media screen and (max-width: 800px) {
  * {
    background-color: yellow;
  }
  .submenu {
    text-align: center;
  }
  #sidemenu ul li {
    width: 100%;
  }
  .item {
    font-size: 12px;
  }
  .scrollbar li ul.dropdown {
    min-width: 100%;
    background: #f2f2f2;
    display: none;
    position: absolute;
    z-index: 999;
    left: 0;
  }
  .menu_icon i{
    display: hidden !important;
  }
  
}

@media screen and (max-width: 600px) {
  * {
    background-color: violet;
  }
  .main-page-menu {
    padding: 0 10px;
  }
  .main-page-menu li {
    padding: 10px 6px;
    padding-left: 10px;
  }
  .submenu {
    font-weight: bold;
    font-size: 12px;
    position:center;
  }
  .dropdown li a{
    font-size: 10px;
  }
  
}

@media screen and (max-width: 400px) {
  * {
    background-color:white;
  } 
  #menu ul li{
    display: none;
  }
  #menu ul li a{
    font-size: 12px;
    display: block;
    background: white;
    min-width: 100px;
    float: left;
    display: hidden !important;
  }
  .menu_icon:hover, submenu:active {
    display: inline;
    display: hidden;
  }
  .menu_icon{
    float: left;
    font-size:20px;
    margin-top: -50px;
    color: black;
    position: relative;
    display: hidden;  
  }
  .dropdown li a{
    font-size: 10px;
  }
  .menu-toggle {
    display: block;
    width:40px;
    height:20px;
    margin:10px;
    background-color:white;
    cursor: pointer;
    text-align: center;font-size:20px;
    color: black;
    top: ;
  }
  .menu-toggle:before{
    content: '\f0c9';
    font-family: fontawesome;
    line-height: 50px;
  }

}
